This is sub-crate for [hooq](https://github.com/anotherhollow1125/hooq/tree/main/hooq) crate. Please use [hooq](https://github.com/anotherhollow1125/hooq/tree/main/hooq) crate instead of using this crate directly.

{{common}}