name: crates_io_publish_hooq_348912

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
      id: auth
    - run: cargo publish -p hooq-helpers
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
    - run: cargo publish -p hooq-macros
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
    - run: cargo publish -p hooq
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
