name: crates_io_publish_hooq_348912

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: rust-lang/crates-io-auth-action@041cce5b4b821e6b0ebc9c9c38b58cac4e34dcc2 # v1.0.2
      id: auth
    - run: cargo publish -p hooq-helpers
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
    - run: cargo publish -p hooq-macros
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
    - run: cargo publish -p hooq
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

  create-update-docs-pr:
    needs: publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up cargo sort
      run: cargo install cargo-sort
    - name: Update docs since the latest version has been published
      run: |
        .github/scripts/sync.rs -- --mode publish
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e #v7.0.8
      with:
        commit-message: "Update docs after publishing new version to crates.io"
        title: "Update docs after publishing new version to crates.io"
        body: "This PR updates the documentation files to reflect the newly published version on crates.io."
        branch: "update-docs-after-publish"