name: Create Release Note
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  check_docs_up_to_date:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up cargo sort
      run: cargo install cargo-sort
    - name: Check versions on docs are up to date
      run: |
        .github/scripts/sync.rs -- --mode publish --check

  create_release_note:
    needs: check_docs_up_to_date
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Obtain Included Files List
        id: included-files-list
        run: |
          helpers="$(cargo package --list -p hooq-helpers)"
          macros="$(cargo package --list -p hooq-macros)"
          hooq="$(cargo package --list -p hooq)"

          {
            echo '## Included Files in This Release'
            echo
            echo
            echo '<details>'
            echo '<summary>Files included in hooq-helpers</summary>'
            echo
            echo "$helpers" | sed -e 's/^/- /g'
            echo
            echo '</details>'
            echo '<details>'
            echo '<summary>Files included in hooq-macros</summary>'
            echo
            echo "$macros" | sed -e 's/^/- /g'
            echo
            echo '</details>'
            echo '<details>'
            echo '<summary>Files included in hooq</summary>'
            echo
            echo "$hooq" | sed -e 's/^/- /g'
            echo
            echo '</details>'
          } > notes-extra.md
      - name: Create Release Note
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.ref_name }}
        run: |
          gh release create "$TAG" --draft \
            --generate-notes \
            --notes-file notes-extra.md